[Unit]
Description=Flight Nodeattr Server
Requires=network.target
Wants=mongod.service

[Service]
Type=forking
User=root
PIDFile=/opt/flight/opt/nodeattr-server/var/puma.pid
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/opt/flight/bin
EnvironmentFile=/opt/flight/etc/nodeattr-server.conf
WorkingDirectory=/opt/flight/opt/nodeattr-server
ExecStart=/bin/sh -c ' \
  bin/puma -d -e production \
    --redirect-append \
    --redirect-stdout /opt/flight/log/nodeattr-server.log \
    --redirect-stderr /opt/flight/log/nodeattr-server.log \
'
ExecStop=/opt/flight/opt/nodeattr-server/bin/pumactl stop
Restart=always

[Install]
WantedBy=multi-user.target
