[Unit]
Description=Flight Nodeattr Server
Requires=network.target
Wants=mongodb.service

[Service]
Type=simple
User=root

# The working directory needs to be where the application has been installed
WorkingDirectory=/opt/flight/opt/nodeattr-server

# The application must be fully configured within the user's environment OR
# within 'config/application.yaml'
ExecStart=/opt/flight/opt/nodeattr-server/bin/puma -p 6301 -e production -d \
            --redirect-stdout /opt/flight/log/nodeattr-server.log \
            --redirect-stderr /opt/flight/log/nodeattr-server.log

Restart=always

[Install]
WantedBy=multi-user.target
